

a{
    color: aqua;
}


a.active{
    color: #ffffff;
    border-bottom: 1px solid red;
}


.menu_style{
    width: 100%;
    line-height: 60px;
    background-color: #20232a;
    display: flex;
    justify-content: space-around;
}